body{
    margin: 0px;
    text-align: center;
    background-color: #395144;
}

h1{
    margin: 40px auto 70px auto;
    font-size: 5rem;
    font-family: 'Lobster', cursive;
    font-weight: 100;
    color: #7D8F69;
}

h2{
    font-size: 2rem;
    font-family: 'Jost', sans-serif;
    font-weight: normal;
    color: #7D8F69;
}

h3{
    font-family: 'Jost', sans-serif;
    color: #7D8F69;
    margin: 20px auto;
}

p{
    font-family: 'Jost', sans-serif;
    color: #7D8F69;
    margin: 20px auto;
}

a{
    color: #7D8F69;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    font-weight: 900;
    margin: 20px 10px;
}

a:hover{
    color: #395144;
}

hr{
    border: none;
    border-top: dotted;
    color: #AA8B56;
    width: 30%;
    border-width: 8px;
    margin: 70px auto;
}

.box0{
    padding-top: 100px;
}

.box2{
    background-color: white;
    padding: 10px;
    border: white 10px;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-img-1{
    width: 20%;
    float: left;
    margin-right: 30px;
    background-color: #7D8F69;
    border-radius: 10%;
}

.skill-img-2{
    width: 20%;
    float: right;
    margin-left: 30px;
    background-color: #7D8F69;
    border-radius: 10%;
}

.underline{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    right: 75%;
    bottom:35%;
}
.top-cloud{
    position: absolute;
    bottom: 90%;
    left: 75%;
}

.contact-me{
    margin: 1.5rem auto;
}


.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Jost', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #7D8F69;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: white;
    color: #A9AF7E;
    font-weight: 600;
    text-decoration: none;
  }